* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.games {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 60px;
  transition: all 0.2s ease;
}
a:hover {
  font-size: 46px;
}
