* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fff;
}

section.games {
  margin: 10px auto;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.game {
  width: 300px;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.game p {
  line-height: 200px;
  font-size: 40px;
}
.games a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  margin: 5%;
}
.curtain {
  position: absolute;
  top: 0;
  width: 150px;
  height: 200px;
  transition: 1s;
}
.hangmanImg_1 {
  left: 0;
  background-color: #ddd;
  background-image: url('./img/hangman2.jpg');
  background-size: cover;
}
.hangmanImg_2 {
  right: 0;
  background-color: #ddd;
  background-image: url('./img/hangman2.jpg');
  background-size: cover;
  background-position-x: -100%;
}
.minesweeperImg_1 {
  left: 0;
  /* background-color: #ddd; */
  background-image: url("./img/time-bomb-002-mine-jason-decaires-taylor-sculpture.jpg");
  background-size: cover;
  background-position-x: -5%;
  background-repeat: no-repeat;
}
.minesweeperImg_2 {
  right: 0;
  /* background-color: #ddd; */
  background-image: url("./img/time-bomb-002-mine-jason-decaires-taylor-sculpture.jpg");
  background-size: cover;
  background-position-x: -105%;
}
/* Hover action */
.game:hover .hangmanImg_1 {
  transform: translateX(-100%);
  opacity: .5;
}

.game:hover .hangmanImg_2 {
  transform: translateX(100%);
  opacity: .5;
}

.game:hover .minesweeperImg_1 {
  transform: translateX(-100%);
  opacity: .5;
}
.game:hover .minesweeperImg_2 {
  transform: translateX(100%);
  opacity: .5;
}
