*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --main-color: #ddd;
  --number-of-cards-in-a-row: 6;
  --card-size: 80px;
  --margin-between-cards: 1px;
  --scale-value: 1;
  --board-width: calc(
    var(--card-size) * var(--number-of-cards-in-a-row) +
      var(--margin-between-cards) * calc(var(--number-of-cards-in-a-row) * 2) +
      2px
  );
}
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.game_container {
  background-color: var(--main-color);
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(var(--scale-value));
}
header h1 {
  padding: 15px;
  margin: 15px;
  font-size: 16px;
}
.results_container {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: var(--board-width);
  background-color: #eee;
  height: 50px;
}
.board {
  margin-top: 10px;
  width: var(--board-width);
  border: 1px solid #000;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: scale(var(--scale-value));
}
.card {
  width: var(--card-size);
  height: var(--card-size);
  min-width: 80px;
  min-height: 80px;
  background-color: var(--main-color);
  /* border: 1px solid #aaa; */
  margin: var(--margin-between-cards);
  background-position: center;
  background-size: cover;
  /* transform: rotateY(60deg); */
  z-index: 0;
}
.restart_button {
  height: 30px;
  width: 100px;
  background-color: #ddd;
}
.card-top {
  background-image: url(images/card-background.jpg);

  z-index: 2;
}
.remove-card {
  background-image: none;
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .board {
    transform: scale(0.9);
  }
}
