*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --main-color: #ddd;
  --number-of-cards-in-a-row: 6;
  --card-size: 80px;
  --margin-between-cards: 1px;
  --scale-value: 1;
  --board-width: calc(
    var(--card-size) * var(--number-of-cards-in-a-row) +
      var(--margin-between-cards) * calc(var(--number-of-cards-in-a-row) * 2) +
      2px
  );
}
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: var(--main-color);
}
.game_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(var(--scale-value));
  /* background-color: #fff; */
}
header h1 {
  padding: 15px;
  margin: 15px;
  font-size: 16px;
}
.results_container {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: var(--board-width);

  background-color: #eee;
  height: 50px;
}
.board {
  margin-top: 10px;
  width: var(--board-width);
  border: 1px solid #000;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: scale(var(--scale-value));
}
.card {
  width: var(--card-size);
  height: var(--card-size);
  min-width: 80px;
  min-height: 80px;
  background-color: var(--main-color);
  /* border: 1px solid #aaa; */
  margin: var(--margin-between-cards);
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.restart_button {
  height: 30px;
  width: 100px;
  background-color: #ddd;
}
.card-top {
  background-image: url(images/card-background.jpg);

  z-index: 2;
}
.remove-card {
  background-image: none;
  transform: scale(1.2);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 40vh;
  border-radius: 10px;
}
.modal p {
  font-size: 26px;
  margin: 5px;
  text-align: center;
}
.play_again_button {
  width: 150px;
  height: 40px;
  font-size: 20px;
}

.hide {
  display: none;
}
@media (min-height: 900px) and (orientation: landscape) {
  .game_container {
    transform: scale(1.3);
  }
}
@media (min-width: 800px) and (min-height: 1000px) {
  .game_container {
    transform: scale(1.3);
  }
}
@media (max-width: 600px) {
  .game_container {
    transform: scale(0.8);
  }
}
@media (max-width: 495px) {
  .game_container {
    transform: scale(0.7);
  }
}
@media (max-width: 345px) {
  .game_container {
    transform: scale(0.6);
  }
}
@media (max-width: 280px) {
  .game_container {
    transform: scale(0.5);
  }
}
